  $black : rgba(15, 8, 6, 1);

@font-face {
  font-family: 'Rotonda';
  src: url('../fonts/RotonBol.eot'); /* IE9 Compat Modes */
  src: url('../fonts/RotonBol.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/RotonBol.woff') format('woff'), /* Modern Browsers */
       url('../fonts/RotonBol.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/RotonBol.svg#d7a938c55ea618e8315a9d5e76cee584') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Rotonda';
  src: url('../fonts/RotonReg.eot'); /* IE9 Compat Modes */
  src: url('../fonts/RotonReg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/RotonReg.woff') format('woff'), /* Modern Browsers */
       url('../fonts/RotonReg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/RotonReg.svg#a1f399be9730f908dd861883df7befb3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
a {
  color: inherit;
  text-decoration: none;
}


img {
  max-width: 100%;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
body, html{
  max-width: 100%;
}
body {
  font-family: 'Rotonda', sans-serif;
  // -webkit-font-smoothing: antialiased;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
}
.container {
  // max-width: 1140px;
  padding: 0 15px;
  box-sizing: border-box;
  // width: 100%;
  margin: 0 auto;
}

.nd-logo {
  width: 191px;
  margin: 32px auto;
}

.nd-soc {
  text-align: center;
  a {
    width: 55px;
    margin: 0 2.5px;
    display: inline-block;
  }
  img {
    border-radius: 50%;
  }
}

.nd-header {
  .container.visible-xs {
    border-bottom: 1px solid #e7ebef;
    margin-bottom: 50px;
    .nd-logo {
      width: 130px;
      float: left;
      margin: 17px 0;
    }
    .nd-soc {
      float: right;
      margin-top: 23px;
      a {
        width: 55/2*1px;
      }
    }
  }
}

.btn {
  background: #e16b47;
  color: white;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 14px;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 55px;
  // max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.1em;
  &:hover {
    background: darken(#e16b47, 5%);
  }
  &_bordered {
    background: transparent;
    border: 3px solid #e16b47;
    color: #e16b47;
    padding-top: 17px;
    padding-bottom: 12px;
    &:hover {
      background: #e16b47;
      color: white;
    }
  }
  &_secondary {
    color: #c7cccd;
    background: transparent;
    &:hover {
      background: transparent;
      color: darken(#c7cccd, 10%)
    }
  }
}

.nd-donate {
  margin: 65px 0 70px;
}

.nd-slider {
  // margin-left: -10px;
  // margin-right: -10px;
  margin-bottom: 20px;
  .slick-arrow {
    display: none;
  }
}
.nd-slider-item {
  background: url(../images/slider-bg.png);
  background-size: 100%;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  &:after {
    position: absolute;
    top: 0;
    left: 2.8%;
    right: 4%;
    bottom: 0;
    background: url(../images/slider-overlay.png);
    z-index: 10;
    content: "";
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  img {
    max-width: 91%;
    margin: 9% auto 11%;
    border-radius: 55%;
    position: relative;
    left: -0.9%;
  }
}
.divider {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  display: block;
  background: #4eabb0;
  margin: 40px auto 30px;
}
.nd-land {
  padding: 0 5px 20px;
  overflow: hidden;
  .pre {
    font-size: 15px;
    color: #3e4344;
    text-align: center;
  }
  .s-heading {
    color: #4eabb0;
    text-align: center;
    margin-top: 0.37em;
    line-height: 1.35;
  }
  
  p {
    color: #757b7c;
    font-size: 16px;
    line-height: 1.5;
    // max-width: 95%;
    // margin-left: 2%;
  }
  .btn_secondary {
    margin-top: 5px;
  }
  &-content {

  }
}


.nd-about {
  background: #4eabb0;
  padding-top: 35px;
  color: white;
  .s-heading {
    color: white;
    text-align: center;
  }
}

.nd-year-switch {
  padding: 5px 10px;
  display: block;
  margin: 0 auto;
  display: inline-block;
  background: #3b9ba1;
  border-radius: 50px;
  position: relative;
  margin: 30px 0 40px;
  &-wrap {
    text-align: center;
  }
  .nd-year {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 10px 6px;
    position: relative;
    z-index: 4;
    &:not(.is-active) {
      cursor: pointer;
    }
  }
  .status {
    width: 49%;
    height: calc(100% - 10px);
    background: red;
    position: absolute;
    border-radius: 48px;
    left: 5px;
    top: 5px;
    background-color: #ead073;
    transition: transform 0.3s;
  }
  &.second {
     .status {
      transform: translateX(90%);
    }
  }
}
.nd-stats {
  font-size: 0;
  margin-bottom: 55px;
  &-one {
    font-size: 14px;
    line-height: 1.35;
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top: 45px;
    // .icon {
      img {
        height: 65px;
        margin: 0 auto;
        display: block;
        margin-bottom: 25px;
      }
    // }
    .nd-counter {
      font-weight: 700;
      font-size: 38px;
      color: #ead073;
      margin-bottom: 14px;
      line-height: 1;
    }
    .name {
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
    }
    &:last-child {
      width: 100%;
    }
  }
}


.nd-mobile-map {
  margin: 20px -62px !important;
}


.nd-map {
  padding-bottom: 35px;
}
.nd-map-info {
  background: white;
  padding: 30px 30px 30px 25px;
  border-radius: 12px;
  line-height: 1.5;
  p {
    color: #757b7c;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .heading {
    color: #4eabb0;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    &:before {
      content: "";
      height: calc(100% + 8px);
      width: 4px;
      position: absolute;
      left: -27px;
      background: #ead073;
      border-radius: 4px;
    }
  }
}
.nd-mobile-map {
  margin: 100px 0;
}

.s-heading {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  &_small {
    font-size: 36px;
  }
}

.nd-why {
  background-color: #496295;
  color: white;
  padding-top: 60px;
  padding-bottom: 400px;
  background-image: url(../images/why-bg.png);
  background-position: center 102%;
  background-repeat: no-repeat;
  background-size: 1400px;
  .why-wrap {
    font-size: 0;
  }
  .why-one {
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 25px; 
    margin-top: 30px;
    .icon {
      text-align: center;
    }
    img {
      height: 35px;
    }
  }
  .divider {
    // width: 40px;
    // height: 5px;
    // border-radius: 5px;
    // display: block;
    background: white;
    // margin: 40px auto 30px;
  }
}


.nd-money {
  padding-top: 60px;
  .s-heading {
    color: #4eabb0;
  }
  .subhead {
    font-size: 20px;
    text-align: center;
    line-height: 1.3;
    margin: 40px 0 80px;
    color: #757b7c;
  }
}
.nd-cards {
  &-wrap {
    padding-bottom: 50px;
  }
  &-one {
    position: relative;
    text-align: center;
    margin-top: 25px;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
  }
}
.card-info {
  // position: absolute;
  // top: 15%;
  // left: 15px;
  // right: 15px;
  // bottom: 15px;
  color: white;
  padding: 30px 30px 30px 30px;
  text-align: left;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .numb {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
  }
  .what {
    font-size: 18px;
    line-height: 25px;
    // max-width: 115px;
    margin: 0 auto;
  }
}

.card_blue {
  background-color: #72a9ae;
}
.card_green {
  background-color: #9fc648;
}
.card_orange {
  background-color: #dfc464;
}
.card_red {
  background-color: #c76b4a;
}
.card-desktop {
  display: none;
}


.nd-takepart {
  background-color: #4eabb0;
  .bg {
    background: white;
    padding: 45px 17px 62px;
    text-align: center;
    border-radius: 30px;
    margin: 60px auto;
    max-width: 500px;
  }
  .heading {
    color: #4eabb0;
    font-size: 32px;
    font-weight: 700;
  }
  p {
    color: #757b7c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44;
  }
  form {
    margin-top: 40px;
  }
}
.input-wrap {
  margin-top: 20px;
  input:not([type="checkbox"]):not([type="radio"]) {
    width: 100%;
    background-color: #f6f8fa;
    height: 65px;
    border: 0;
    box-shadow: inset 0 1px 0 2px #e2e5e9;
    border-radius: 65px;
    font-size: 24px;
    text-align: center;
    padding-top: 8px;
    &:focus {
      outline: none;
    }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d1d4d8;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #d1d4d8;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #d1d4d8;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #d1d4d8;
  }
  &.changeable {
    position: relative;
    input {
      color: #757b7c;
      pointer-events:none;
    }
    &.can-change {
      input {
        pointer-events:auto;
      }
    }
    .change {
      position: absolute;
      top: 28px; 
      right: 28px;
      color: #e16b47;
      cursor: pointer;
      &:hover {
        color: #dd5931;
      }
    }
  }
  &.money {
    // padding-left: 30px;
    position: relative;
    input {
      background-image: url(../images/uah.svg);
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: 10% center;
    }
  }
  &.button {
    margin-top: 25px;
  }

  button {
    border: none;
    height: 65px;
    font-size: 20px;
    letter-spacing: 0.1em;
  }
  &.halfed {
    background-color: #f6f8fa;
    height: 50px;
    border: 0;
    box-shadow: inset 0 1px 0 2px #e2e5e9;
    border-radius: 50px;
    position: relative;

    &:after {
      position: absolute;
      width: 2px;
      height: 33px;
      left: 50%;
      margin-left: -2px;
      top: 9px;
      content: " ";
      background: #e2e5e9;
    }
    .select-wrap {
      width: 50%;
      float: left;
      &:after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 5px 0 5px;
        border-color: #d0d4d8 transparent transparent transparent;
        content: "";
        top: -3px;
        position: relative;
        left: -10px;
        display: inline-block;
        pointer-events:none;
      }
      &:first-child {
        select {
          margin-left: 35px;
        }
      }
    }
    select {
      -webkit-appearance:none;
      border: none;
      box-shadow: none;
      height: 50px;
      background: transparent;
      font-size: 22px;
      color: #d1d4d8;
      line-height: 50px;
      padding-top: 3px;
      text-align: left;
      width: 80px;
      &:focus {
        outline: none;
      }
    }
  }
  &.small {
    width: 100%;
    input{
      text-align: left;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    /* Style for "Checkbox" */
    width: 30px;
    height: 30px;
    background-color: #f6f8fa;
    border-radius: 7px;
    box-shadow: inset 0 1px 0 2px #e2e5e9;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    &:focus {
      outline: none;
    }
    & ~ input {
      display: none;
    }
    &:checked {
      & ~ input {
        display: block;
        margin-top: 25px;
      }
      &:after {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        top: 6px; 
        left: 5px;
        content: "";
        background-color: #e16b47;
        box-shadow: inset 2px 0 0 #b55c3c, inset -2px 0 0 #b55c3c, inset 0 2px 0 #b55c3c, inset 0 -1px 0 #b55c3c;
      }
    }
    & + label {
      color: #757b7c;
      font-size: 18px;
      line-height: 26px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
    }
  }
  &.chb {
    text-align: left;
    padding-top: 15px;
  }
}

.card-wrap {
  form {
    margin-top: 30px
  }
  input, .halfed{
    height: 50px;
    border-radius: 50px;
  }
  input {
    padding-top: 5px;
  }
  .btn {
    height: 50px;
    margin-top: 15px;
  }
}
.nd-sharewrap {
  background: #f6f8fa;  
  border-radius: 32px;
  padding: 5px 15px;
  max-width: 240px;
  margin: 0 auto;
  label {
    color: #414546;
    font-size: 14px;
    line-height: 1.3;
  }
  .radio-wrap {
    margin: 15px 0;
    overflow: hidden;
    text-align: left;
    label {
      overflow: hidden;
      display: block;
      padding-top: 8px;
    }
    input {
      float: left;
      clear: left;
      -webkit-appearance: none;
      width: 30px;
      height: 30px;
      background: white;
      box-shadow: inset 0 1px 0 2px #e2e5e9;
      border-radius: 50%;
      margin-right: 16px;
      &:focus {
        outline: none;
      }
      &:checked {
        position: relative;
        &:after {
          width: 20px;
          height: 20px;
          background: #91b925;
          content: "";
          position: absolute;
          top: 6px;
          left: 5px;
          bottom: 4px;
          border-radius: 50%;
        }
      }
    }
  }
}
.sharebtns {
  margin-top: 20px;
  .nd-btn-share {
    display: block;
    height: 55px;
    border-radius: 55px;
    line-height: 57px;
    position: relative;
    margin: 10px 0;
    img {
      position: absolute;
      left: 24px;
      top: 50%;
      transform: translateY(-50%);
    }
    &.twitter {
      background: #1da1f2;
      img {
        width: 25px;
      }
    }
    &.fb {
      background: #3d5c98;
      img {
        width: 13px;
        margin-left: 9px;
      }
    }
    &.vk {
      background: #4d75a3;
      img {
        width: 24px;
      }
    }
    &.email {
      background: #72a9ae;
      img {
        width: 25px;
      }
    }
    span {
      font-size: 18px;
      color: white;
    }
  }
}

.nd-photos {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x:hidden;
  .s-heading {
    color: #4eabb0;
  }
  .divider {
    color: #4eabb0;
  }
}

.nd-slides {
  white-space: nowrap;
  overflow-x: scroll;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-overflow-scrolling: touch;
  margin-top: 50px;
  .slide{
    &-one {
      display: inline-block;
      vertical-align: top;
      padding: 0 10px;
      margin-left: 15px;
      .wrap {
        position: relative;
      }
      img {
        width: 300px;  
      }
      &:first-child {
        margin-left: 30px;
      }
      &:last-child {
        margin-right: 30px;
      }
      img {
        border-radius: 10px;
        display: block;
      }
      &.video {
        position: relative;
        .slide-info {
          position: absolute;
          margin-top: 0;
          border-radius: 10px;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background-color: rgba(0,0,0,0.4);
          background-image: url(../images/play.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 54px;
          padding: 5px 10px;
          .title {
            font-weight: 700;
          }
          .date {
            font-weight: 400;
            margin-top: 7px;
          }
          .title, .date {
            color: white;
          }
        }
      }
    }
    &-info {
      .title {
        font-size: 12px;
        color: #414546;
        margin-top: 12px;
      }
      .date {
        color: rgba(#414546, 0.7);
        font-size: 10px; 
        font-weight: 700;
        margin-top: 12px;
      }
    }
  }
}

.nd-support {
  padding-top: 25px;
  margin-top: 10px;
  border-top: 1px solid #e7ebef;
  .s-heading {
    color: #4eabb0;
  }
  .divider {
    margin-top: 25px;
  }
}

.nd-sponsors {
  font-size: 0;
  padding-bottom: 40px;
  &-one {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    margin-top: 25px;
    .logo {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 100%;
        max-width: 100px;
      }
    }
    .name {
      font-size: 10px;
      font-weight: bold;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      color: #c7cccd;
      max-width: 120px;
      margin: 10px auto 0;
    }
  }
  .nd-showmore {
    margin: 40px 0 0;
    display: block;
    &-wrap { 
      display: block;
      text-align: center;
      img {
        width: 42px;
      }
      span {
        font-size: 10px;
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        color: #4eabb0;
        margin-top: 17px;
      }
    }
  }
}


.nd-footer {
  background: #4eabb0;
  color: white;
  padding-top: 40px;
  .nd-adress {
    font-size: 14px;
    line-height: 2;
  }
  .showmap {
    margin-top: 30px;
    display: inline-block;
    img {
      width: 9px;
      margin-right: 12px;
      vertical-align: middle;
      margin-top: -4px;
      display: inline-block;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .nd-footer-soc {
    &-wrap {
      justify-content: center;
      display: flex;
      margin: 40px 0;
    }
    a {
      background: white;
      width: 55px;
      height: 55px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      vertical-align: middle;
      margin: 0 3px;
      img {
        display: block;
      }
      &.ig {
        img {
          width: 30px;
        }
      }
      &.fb {
        img {
          width: 13px;
          margin-right: -7px;
        }
      }
      &.tw {
        img {
          width: 24px;
          margin-bottom: -2px;
        }
      }
      &:hover {
        background: rgba(255,255,255,0.8);
      }
    }
  }
}

.nd-perfectionist {
  text-align: center;
  img {
    width: 145px;
  }
}

.nd-copy {
  text-align: center;
  border-top: 1px solid #8ecdd7;
  color: #c6edf3;
  font-size: 12px;
  text-align: center;
  padding: 14px 0 12px;
  margin-top: 32px;
}

.nd-about {
  position: relative;
  margin-top: 10vw;
  &:before {
    display: block;
    background: url(../images/about-before.svg);
    width: 100%;
    height: 9.5vw;
    position: absolute;
    top: -9.43vw;
    background-size: 102%;
    background-position-x: center;
    content: "";
  }
  &:after {
    display: block;
    background: url(../images/about-after.svg);
    width: 100%;
    height: 9.5vw;
    position: absolute;
    bottom: -9.43vw;
    background-size: 102%;
    background-position-x: center;
    content: "";
    z-index: 9
  }
}

.nd-takepart {
  position: relative;
  margin-top: 3.4vw;
  &:before {
    display: block;
    background: url(../images/pay-before.svg);
    width: 100%;
    height: 4vw;
    position: absolute;
    top: -4vw;
    background-size: 103%;
    background-position-x: center;
    content: "";
  }
  &:after {
    display: block;
    background: url(../images/pay-after.svg);
    width: 100%;
    height: 1vw;
    position: absolute;
    bottom: -1vw;
    background-size: 140%;
    background-position-x: center;
    content: "";
  }
}
.nd-why {
  position: relative;
  padding-top: 90px;
  
  &:after {
    display: block;
    background: url(../images/why-after.svg);
    width: 100%;
    height: 3.4vw;
    position: absolute;
    bottom: 0vw;
    background-size: 110%;
    background-position-x: center;
    content: "";
  }
}
.nd-footer {
  position: relative;
  padding-top: 0;
  margin-top: 5.8vw;
  &:before {
    display: block;
    background: url(../images/footer-before.svg);
    width: 100%;
    height: 5.8vw;
    position: absolute;
    top: -5.8vw;
    background-size: 110%;
    background-position-x: center;
    content: "";
  }
}

.nd-pins-wrap.hidden-xs {
  position: relative;
  .left, .right {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9;
  }
  .left {
    left: 0;
    right: 50%;
  }
  .right {
    right: 0;
    left: 50%;
  }
}

.map {
  .pin {
    // transition: transform 0.1s ;
    // transform: translateY(-30px);
    opacity: 0;
  }
  &.visible {
    .pin {
      transform: none;
      animation-name: hatch;
      -webkit-animation-name: hatch;  

      animation-duration: 2s; 
      -webkit-animation-duration: 2s;

      animation-timing-function: ease-in-out; 
      -webkit-animation-timing-function: ease-in-out;

      transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
      -webkit-transform-origin: 50% 100%; 

      visibility: visible !important;
      opacity: 0;
      animation-fill-mode: forwards;
    }
  }
  #pin1 {
    animation-delay: 300+50ms;
  }
  #pin2 {
    animation-delay: 300+130ms;
  }
  #pin3 {
    animation-delay: 300+120ms;
  }
  #pin4 {
    animation-delay: 300+100ms;
  }
  #pin5 {
    animation-delay: 300+30ms;
  }
  #pin6 {
    animation-delay: 300+140ms;
  }
  #pin7 {
    animation-delay: 300+160ms;
  }
}

@keyframes hatch {
  0% {
    opacity:0;
    transform: translateY(-30px) rotate(0deg) scaleY(1);
  }
  20% {
    opacity: 1;
    transform: rotate(-2deg) scaleY(1.01);
  }
  35% {
    transform: rotate(2deg) scaleY(1);
  }
  50% {
    transform: rotate(-2deg);
  } 
  65% {
    transform: rotate(1deg);
  } 
  80% {
    transform: rotate(-1deg);
  }   
  100% {
    transform: rotate(0deg);
    opacity: 1
  }                 
}
.ovh {
  overflow: hidden;
}
.nd-popup {
  background: white;
  // border-radius: 30px;
  text-align: center;
  padding: 30px 16px;
  position: relative;
  display: none;
  min-height: 100%;
  &-wrap {
    background: rgba(0,0,0,.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    overflow: auto; 
    display: none;
    &.active {
      display: block;
    }
  }
  .status {
    margin-top: 40px;
    .dot {
      width: 12px;
      height: 12px;
      background-color: #e2e5e9;
      display: inline-block;
      border-radius: 50%;
      margin: 0 2px;
      &.is-active {
        background: #e16b47;
      }
    }
  }
  .close {
    width: 45/2*1px;
    height: 45/2*1px;
    position: absolute;
    top: 15px;
    right: 15px;
    background: url(../images/close.png);
    background-size: 45/2*1px;
    z-index: 9;
    cursor: pointer;
  }
}
.nd-about .container {
  overflow: hidden;
}
.nd-type-select {
  input[type="radio"]{
    display: none;
    &:checked {
      & + label {
        background-color: #e16b47;
        box-shadow: inset 2px 0 0 #C06341, inset -2px 0 0 #C06341, inset 0 2px 0 #C06341, inset 0 -1px 0 #b55c3c;
        span {
          color: white;
        }
        img {
          filter: brightness(300%);
        }
      }

    }
  }
  .labels-wrap {
    width: 100%;
    overflow: hidden;
    background-color: #f6f8fa;
    border-radius: 32px;
    box-shadow: inset 0 1px 0 2px #e2e5e9;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    label {
      width: 33.33333%;
      float: left;
      padding-top: 20px;
      padding-bottom: 25px;
      height: 110px;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      span {
        font-size: 15px;
        color: #757b7c;
      }
    }
    .st {
      img {
        width: 21px;
      }
    }
    .cl {
      img {
        width: 34px;
      }
    }
    .sc {
      img {
        width: 48px;
      }
    }
  }
}
.chb + .button {
  margin-top: 10px;
}
@media screen and (min-width: 550px) { 
  .nd-popup {
    width: 100%;
    max-width: 505px;
    min-height: 0;
    padding: 15px 15px 30px;
    border-radius: 30px;
    box-shadow: 0px 15px 100px 0px rgba(0, 0, 0, 0.25);

    &-wrap {
      &.active {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .close {
      top:20px;
      right: 20px;
    }
  }
  .card-wrap .halfed {
    width: 60%;
    float: left;
  }
  .input-wrap.small {
    width: 40%;
    float: left;
    padding-left: 15px;
    input {
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
  }
  .input-wrap.halfed .select-wrap:first-child select {
    margin-left: 10px;
  }
  .input-wrap.halfed select {
    width: 60px;
  }
  .nd-popup .nd-takepart-form-wrap {
    max-width: 400px;
  }
  .sharebtns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .sharebtns .nd-btn-share {
    width: 49%;
    float: left;
    text-align: left;
    padding-left: 55px;
    margin: 5px 0;
    img {
      left: 20px;
    }
  }
  .nd-sharewrap {
    max-width: none;
  }
  .card-wrap .btn {
    height: 65px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) { 
  .nd-about .container {
    overflow: visible;
  }
  .nd-type-select .labels-wrap label span {
    font-size: 24px;
  }
  .nd-type-select .labels-wrap {
    label {
      height: 135px;
      padding-top: 30px;
    }
    .st {
      img {
        width: 30px;
      }
    }
    .cl {
      img {
        width: 48px;
      }
    }
    .sc {
      img {
        width: 70px;
      }
    }
  }
  .container {
    padding: 0 50px;
  }
  .nd-header {
    padding-top: 30px;
    .container {
      display: flex;
      justify-content: space-between;
      &:after, &:before {
        display: none;
      }
    }
    .nd-logo {
      margin: 0;
      float: left;
      // width: 33.3333%;
    }
    .nd-soc-donate {
      // width: 66.6666%;
      float: left;
    }
    .nd-soc {
      // float: left;
      margin-top: 15px;
      a {
        width: 25px;
      }
    }
    .nd-donate {
      margin: 0;
      .btn {
        width: 191px;
        height: 55px;
        border-radius: 27px;
        padding-top: 21px;
      }
    }
  }
  .nd-land {
    margin-top: 100px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 110px;
    .nd-slider {
      float: right;
      width: 450px;
      margin-top: -20px;
      margin-right: -180px;
    }
    &-content {
      text-align: left;
      overflow: hidden;
    }
    .s-heading {
      text-align: left;
      margin-right: -10px;
    }
    .divider {
      margin-left: 0;
      margin: 30px 0 60px;
    }
    .pre {
      text-align: left;
    }
    p {
      width: 288px;
    }
    .btn {
      width: 165px;
      display: inline-block;
    }
    .btn_secondary {
      width: 150px;
    }
  }
  .nd-about {
    .s-heading {
      float: left;
      margin-top: 52px;
    }
  }
  .nd-year-switch-wrap {
    width: 360px;
    overflow: hidden;
    margin-right: 0;
    margin-left: auto;
  }
  .nd-year-switch {
    // padding: 10px;
    width: 100%;
    .nd-year {
      font-size: 40px;
      padding: 25px 40px 16px;
    }
    .status {
      height: calc(100% - 20px);
      left: 10px;
      top: 10px;
    }
    &.second {
      .status {
        transform: translateX(93%);
      }
    }
  }

  .nd-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #3b9ba1;
    border-radius: 18px;
    padding-bottom: 75px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    &-one {
      width: 33.333%;
      margin-top: 80px;
      .name {
        max-width: 125px;
        margin-left: auto;
        margin-right: auto;
      }
      &:last-child {
        width: 40.333%;
        .name {
          max-width: 250px;
        }
      }
    }
  }
  #mi1 {
    max-width: 350px;
    margin-bottom: -140px;
    z-index: 2;
    position: relative;
  }
  .nd-map-info {
    padding-top: 32px;
    padding-left: 35px;
    padding-right: 42px;
    padding-bottom: 42px;
    .heading {
      max-width: 250px;
      &:before {
        left: -37px;
      }
    }
    p {
      font-size: 14px;
    }
  }

  #mi2 {
    max-width: 350px;
    margin: -150px 0 0 auto;
    position: relative;
    z-index: 2;
  }
  .nd-why {
    .s-heading {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
    }
    .divider {
      margin: 30px auto;
    }
    .why-wrap {
      margin-top: -30px;
    }
    .why-one {
      text-align: left;
      p {
        max-width: 190px;
        margin-top: 9px;
      }
      .icon {
        text-align: left;
      }
    }
  }
  .nd-money {
    .s-heading {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
    .subhead {
      margin-bottom: 40px;
      margin-top: 30px;
    }
  }
  .nd-cards-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .nd-cards-one {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }
  .nd-takepart {
    background-color: #4eabb0;
    background-image: url(../images/pay-tablet-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .nd-takepart-form-wrap {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    input:not([type="checkbox"]):not([type="radio"]) {
      text-align: left !important;
      padding-left:35px;
      padding-right:35px;
    }
  }
  .nd-photos {
    .s-heading {
      text-align: left;
    }
    .divider {
      margin-left: 0;
    }
  }
  .nd-slides {
    // margin-left: -50px;
    // margin-right: -50px;
  }
  .nd-slides .slide-one:first-child {
    margin-left: 50px;
  }
  .nd-slides .slide-one {
    width: 400px;
  }
  .divider {
    margin-bottom: 25px;
    margin-top: 45px;
  }
  .nd-slides .slide-info {
    margin-top: 23px;
    .title {
      font-size: 14px;
    }
    .date {
      font-size: 10px;
    }
  }
  .nd-photos {
    padding-bottom: 40px;
  }
  .nd-support {
    padding-top: 140px;
  }
  .nd-support .divider {
    margin-top: 45px;
  }
  .nd-sponsors {
    margin-top: -10px;
  }
  .nd-sponsors-one {
    width: 33.333%;
    margin-top: 80px;
    .name {
      margin-top: 20px;
      font-size: 12px;
      max-width: 150px;
    }
    .logo {
      height: 90px;
      img {
        max-width: 120px;
      }
    }
  }
  .nd-sponsors .nd-showmore {
    margin-top: 90px;
  }
  .nd-footer {
    .nd-adress {
      float: left;
      overflow: hidden;
    }
    .nd-footer-soc-donate {
      float: right;
    }
    .nd-logo {
      float: left;
      clear: left;
      margin-top: 60px;
    }
    .nd-footer-soc-wrap {
      margin-top: 0;
    }
    .nd-donate {
      // margin-top: 45px;
      margin: 70px 0;
      .btn {
        width: 191px;
        height: 55px;
        border-radius: 27px;
        padding-top: 21px;
      }
    }
    .nd-copy {
      margin-top: 20px;
      text-align: left;
    }
    .nd-perfectionist {
      clear: right;
      float: right;
      margin-top: 14px;
    }
  }

  .nd-slides {
    overflow: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0 !important;
    .slide-one {
      margin: 0;
      // width: auto !important;
      margin-left: -2px;
      &:focus {
        outline: none;
      }
       img {
        width: 400px;
       }
    }
    .wrap {
      display: inline-block;
    }
    .slick-cloned {
      opacity: 0;
      pointer-events: none;
    }
  }
  .nd-cards-wrap {
    margin-top: -30px;
  }
  .comment-arrow.visible-xs {
    margin-left: 120px !important;
  }
}




@media screen and (min-width: 1320px) {  
  .container {
    padding: 0 15px;
  }
  .nd-about, .nd-why, .nd-photos, .nd-footer{
    .container {
      max-width: 1165px;
    }
  }
  .nd-slides .slide-one img {
    width: 700px;
  }
  .nd-header {
    .menu {
      display: flex;
      align-items: center;
      padding-bottom: 5px;
      margin-left: -80px;
      letter-spacing: 0.07em;
    }
    .nd-soc {
      margin-right: -80px;
      margin-top: 0;
      a {
        width: 55px;
      }
    }
    .nd-donate .btn {
      width: 184px;
      letter-spacing: 0.1em;
    }
  }
  .menu-one {
    display: inline-block;
    margin: 0 22px;
    a {
      text-transform: uppercase;
      color: #4eabb0;
      font-size: 14px;
      font-weight: 700;
    }
  }
  .nd-land {
    margin-top: 40px;
    .nd-slider {
      width: 655px;
      margin-top: 0;
      margin-right: -15px;
    }
    p {
      width: 400px;
      font-size: 18px;
      margin-bottom: 60px;
    }
    .pre {
      font-size: 18px;
    }
    .divider {
      margin: 55px 0 35px;
    }
    .btn_secondary {
      width: 165px;
    }
  }
  .nd-land-content {
    margin-top: 115px;
    max-width: 435px;
    margin-left: 50px;
  }
  .s-heading {
    font-size: 48px;
  }
  .nd-year-switch  {
    margin-top: 23px;
    margin-bottom: 53px;
    .nd-year {
      font-size: 48px;
      padding: 24px 33px 15px;
    }
  }
  .nd-stats {
    height: 340px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nd-stats-one {
    width: 75/4*1%;
    margin-top: 0;
    .name {
      font-size: 18px;
      max-width: 128px;
    }
    img {
      height: 80px;
    }
    .nd-counter {
      font-size: 48px;
    }
    &:last-child {
      width: 25%;
      .name {
        font-size: 14px;
      }
    }
  }
  .nd-stats-one img {
    margin-bottom: 34px;
  } 
  .nd-pins-wrap {
    .map {
      max-width: 900px;
      margin: 0 auto;
      img {
        display: block;
      }
    }
  }
  #mi1 {
    margin-bottom: -405px;
  }
  #mi2 {
    margin-top: -355px;
  }
  .nd-map {
    margin-top: 100px;
  }
  .nd-map-info {
    padding-right: 36px;
    .heading {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
  }
  .map {
    position: relative;
    .pin {
      width: 19px;
      height: 28px;
      background: url(../images/pin.svg);
      background-size: cover;
      position: absolute;
    }
  }
  #pin1 {
    top: 465/2*1px;
    left: 490/2*1px;
  }
  #pin2 {
    top: 802/2*1px;
    left: 577/2*1px;
  }
  #pin3 {
    top: 478/2*1px;
    left: 841/2*1px;
  }
  #pin4 {
    top: 622/2*1px;
    left: 961/2*1px;
  }
  #pin5 {
    top: 385/2*1px;
    left: 1093/2*1px;
  }
  #pin6 {
    top: 620/2*1px;
    left: 1213/2*1px;
  }
  #pin7 {
    top: 385/2*1px;
    left: 909/2*1px;
  }
  #pin-main {
    top: 432/2*1px;
    left: 985/2*1px;
    width: 28px;
    height: 40px;
    background-image: url(../images/pin-yellow.png)
  }
  .nd-why {
    padding-top: 195px;
    background-size: cover;
    background-image: url(../images/why-bg.jpg.jpg);
    padding-bottom: 480px;
    .divider {
      display: none;
    }
    .s-heading {
      float: left;
      text-align: left;
      max-width: 285px;
      line-height: 1.33;
      &:after {
        content: "";
        width: 40px;
        height: 5px;
        border-radius: 5px;
        display: block;
        margin: 25px 0 0px;
        background: white;
      }
    }
    .why-wrap {
      float: left;
      width: 560px;
      margin-left: 190px;
      margin-top: -30px;
    }
    .why-one {
      font-size: 16px;
      padding-left: 0;
      p {
        max-width: 220px;
      }
    }
  }
  .nd-money {
    padding-top: 130px;
    overflow: hidden;
    .container {
      position: relative;
    }
    .s-heading {
      font-size: 36px;
      line-height: 42px;
      max-width: 540px;
    }
    .subhead {
      margin-top: 20px;
    }
  }
  .comment-arrow {
    position: absolute;
    bottom: 232px;
    left: 70px;
    img {
      width: 245px;
    }
  }
  .nd-cards-wrap {
    // margin: 130px auto -210px;
    margin-bottom: 120px;
    margin-top: 50px;
  }
  .nd-cards-one {
    width: 295px;
    
    max-width: none;
    cursor: default;
    .card-info {
      padding-right: 72px;
      height: 270px;
    }
    &:last-child {
      .card-info { 
        padding-right: 30px;
      }
    }
  }
  .card-info .what {
    // max-width: 170px;
    margin-top: 10px;
  }
  .nd-takepart {
    background-size: 1157px;
    .bg {
      margin-bottom: 80px;
    }
  }
  .nd-slides {
    padding-left: 50%;
    .slide-one {
      width: 710px;
      &:first-child {
        margin-left: -570px;
      }
      &.video {
        .slide-info {
          padding: 10px 25px;
        }
      }
    }
    .slide-info {
      .title {
        font-size: 16px;
      }
      .date {
        font-size: 12px;
      }
    }
  }
  .nd-photos {
    padding-bottom: 80px;
  }
  .nd-support {
    padding-top: 100px;
  }
  .nd-sponsors{
    width: 90%;
    margin: 0px auto 0;
    &-one {
      width: 100/6*1%;
      &.t7 {
        width: 100/7*1%;
      }
      &:hover {
        opacity: 0.7;
        // color: black;
      }
    }

  }
  .nd-footer {
    .nd-logo {
      margin-top: 0;
    }
    .nd-adress {
      margin-left: 125px;
      margin-top: 9px;
      font-size: 16px;
      .showmap {
        font-size: 14px;
      }
    }
    & &-soc-wrap {
      display: inline-flex;
      margin-bottom: 0;
    }
    .nd-donate {
      display: inline-flex;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 25px;
    }
    .nd-perfectionist {
      margin-top: 30px;
    }
    .nd-copy {
      margin-top: 43px;
    }
    .showmap {
      margin-top: 13px;
    }
    .nd-copy {
      font-size: 14px;
    }
  }
  .nd-footer-soc-donate {

  }
  #mi1 {
    transition: transform 0.3s ease;
    &.moved {
      transform: translateX(-100px) translateY(100px);
    }
  }
  #mi2 {
    transition: transform 0.3s ease;
    &.moved {
      transform: translateX(100px) translateY(-100px);
    }
  }
}

.step.nd-takepart {
  background: transparent;
  &:before, &:after {
    display: none;
  }
  .heading {
    color: #4e5252;
  }
}

.btn, button {
  &:focus {
    outline: none;
  }
}

.nd-footer .container.visible-xs {
  .nd-donate {
    margin-bottom: 20px;
    margin-top: 20px;
    .btn {
      padding-top: 23px;
      padding-bottom: 19px;
    }
  }
  .nd-adress {
    text-align: center;
    border-top: 1px solid #8ecdd7;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
  }
  .showmap {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nd-soc {
    a {
      width: 55/2*1px;
    }
  }
  .nd-copy {
    margin-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .nd-perfectionist {
    padding-top: 20px;
    border-top: 1px solid #8ecdd7;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 20px;
  }
}


.comment-arrow.visible-xs {
  width: 82px;
  margin: 20px auto;
  display: block;
  margin-top: -20px;
}


.nd-showmore-wrap ~ {
  .nd-sponsors-one {
    display: none;
  }
}

.nd-sponsors {
  margin-bottom: 40px;
}

.nd-showmore{
    text-align: center;
}

input.error{
    border: 1px solid red !important;
}

.nd-lang {
  background-color: #72a9ae;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 55px;
  font-size: 14px;
  color: white;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding-top: 2px;
  box-sizing: border-box;
  margin-left: 20px;
  display: inline-block;
  &:hover {
    background: #3b9ba1;
  }
  &-wrap {
    display: inline-block;
  }
}

.nd-soc .nd-lang {
  height: 27.5px;
  line-height: 27.5px;
  vertical-align: top;
  font-size: 10px
}