!!! 5
%html
  %head
  %title GoGlobal
  %meta(charset="utf-8")
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='css/base.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>

  %body
    %header.nd-header
      .container.visible-xs
        .nd-logo
          %a(href="#")
            %img(src="images/logo.png")
        .nd-soc
          %a(href="#")
            %img(src="images/soc-ig.png")
          %a(href="#")
            %img(src="images/soc-fb.png")
          %a(href="#")
            %img(src="images/soc-tw.png")
          %a.nd-lang(href="#") EN
      .container.hidden-xs 
        .nd-logo
          %a(href="#")
            %img(src="images/logo.png")
        .menu.hidden-xs.hidden-sm
          .menu-one
            %a(href="#about") Про проект
          .menu-one
            %a(href="#why") для чого це
          .menu-one
            %a(href="#charity") Благодійність
        -# .nd-soc-donate
        .nd-soc
          %a(href="#")
            %img(src="images/soc-ig.png")
          %a(href="#")
            %img(src="images/soc-fb.png")
          %a(href="#")
            %img(src="images/soc-tw.png")
        .nd-donate
          %a.btn.to-popup(href="#" data-popup="step1") пожертвувати
          .nd-lang-wrap.hidden-xs
            %a.nd-lang(href="#") EN
    %section.nd-land
      .container
        .nd-slider.hidden-xs
          .nd-slider-item
            %img(src="images/slider1.jpeg")
          .nd-slider-item
            %img(src="images/slider1.jpeg")
          .nd-slider-item
            %img(src="images/slider1.jpeg")
        .nd-land-content
          .pre
            GoGlobal powered by Global Office
          .s-heading
            Хочеш змінити світ, надихай дітей!
          .divider
          %p Ініціатива громадської організації Global Office, спрямована на популяризацію вивчення іноземних мов та волонтерського руху в Україні, сприяння міжкультурному діалогу та громадській дипломатії.
          %a.btn.btn_bordered.to-popup(data-popup="step1" href="#") долучитись
          %a.btn.btn_secondary(href="#about") детальніше
    %section.nd-about#about
      .container
        .s-heading Про проект
        .nd-year-switch-wrap
          .nd-year-switch
            .status
            .nd-year.is-active
              2016
            .nd-year
              2017
        .nd-stats
          .nd-stats-one
            %img(src="images/icon-tent.svg")
            .nd-counter(data-first="6001" data-second="9000") 9 000
            .name  дітей відвідали мовні&nbsp;табори
          .nd-stats-one
            %img(src="images/icon-school.svg")
            .nd-counter(data-first="3201" data-second="6040") 113
            .name  шкіл взяли участь у проекті
          .nd-stats-one
            %img(src="images/icon-vol.svg")
            .nd-counter(data-first="404" data-second="506") 320
            .name  
              волонтерів із 
              %br/
              40 країн
          .nd-stats-one
            %img(src="images/icon-city.svg")
            .nd-counter(data-first="300" data-second="505") 212
            .name  міст та сіл із 24 регіонів
          .nd-stats-one
            %img(src="images/icon-child.svg")
            .nd-counter(data-first="230" data-second="300") 308
            .name  дітей з Донецької та Луганської областей взяли участь у GoCamp, який був організований на Київщині
        .nd-map
          .nd-map-info#mi1
            .heading Покоління майбутніх  лідерів
            %p GoCamp змінить життя цілого покоління українців. До 2020 року 1,5 млн школярів стануть учасниками національного проекту, у результаті якого вони отримають більше можливостей стати лідерами, будувати успішну кар’єру, спілкуватися без бар’єрів з усім світом та змінювати хід історії. 
          .nd-pins-wrap.hidden-xs.hidden-sm
            .halfs
              .left
              .right
            .map
              %img(src="images/map-desktop.png")
              .pin#pin1
              .pin#pin2
              .pin#pin3
              .pin#pin4
              .pin#pin5
              .pin#pin6
              .pin#pin7
              .pin#pin-main
          .nd-mobile-map.visible-xs.visible-sm
            %img(src="images/mobile-map.png")

          .nd-map-info#mi2
            .heading Європейський вектор
            %p 
              Аби бути почутим у всьому світі, лише мовної компетентності недостатньо. Для того, аби на рівних комунікувати потрібно також вдосконалювати освітні підходи та культурні зв’язки. 
              %br.hidden-md/
              За допомогою спеціально розробленої програми GoCamp діти отримають шанс відкрити для себе цілий світ та водночас стати послами України у світі.
    %section.nd-why#why
      .container
        .s-heading  
          Для чого був створений GoGlobal
        .divider
        .why-wrap
          .why-one
            .icon
              %img(src="images/icon-world.svg")
            %p Популяризація володіння та використання іноземних мов.
          .why-one  
            .icon
              %img(src="images/icon-u.svg")
            %p Нове покоління українців із цінностями вільного світу.
          .why-one  
            .icon
              %img(src="images/icon-angel.svg")
            %p Громадська дипломатія.
          .why-one  
            .icon
              %img(src="images/icon-checkpoint.svg")
            %p Підготовленість до викликів 21&nbsp;століття.
          .why-one  
            .icon
              %img(src="images/icon-volun.svg")
            %p Популяризація волонтерського руху в Україні.
          .why-one  
            .icon
              %img(src="images/icon-puzzle.svg")
            %p Внутрішня інтеграція.
          .why-one  
            .icon
              %img(src="images/icon-gov.svg")
            %p Нова якість держслужби, де іноземна мова – обов’язкова.
          .why-one  
            .icon
              %img(src="images/icon-flag.svg")
            %p Високий рівень викладання іноземних мов.
    %section.nd-money
      .container
        .s-heading.s-heading_small
          200 грн – вартість участі одного учня у проекті GoCamp
        .subhead 
          Завдяки вашій підтримці, нам вдасться
        .nd-cards-wrap
          .nd-cards-one.card_blue
            .card-info
              .numb  01
              .what Організувати приїзд волонтерів зі всього світу в Україну
          .nd-cards-one.card_green
            .card-info
              .numb  02
              .what Забезпечити вчителів сучасною методологією викладання
            
          .nd-cards-one.card_orange
            .card-info
              .numb  03
              .what Провести навчальні тренінги для волонтерів

            
          .nd-cards-one.card_red
            .card-info
              .numb  04
              .what Дати дітям заговорити мовами світу: англійською, німецькою, французькою та іспанською        
    %section.nd-takepart#charity
      .container
        .bg
          .nd-takepart-form-wrap
            .heading Долучитись
            %p Щоб долучитись до благоднійного проекту, заповніть форму нижче
            %form
              .input-wrap
                %input(type="text" placeholder="Мене звати")
              .input-wrap
                %input(type="email" placeholder="Мій Email")
              -# .input-wrap.money
              -#   %input(type="text" placeholder="00.00")
              .input-wrap.chb
                %input.comp-check#comp1(type="checkbox")
                %label(for="comp1") Пожертва від лиця компанії
                %input(type="text" placeholder="Company name")
              .input-wrap.button
                %button.btn.to-popup(data-popup="step2") Продовжити
    %section.nd-photos
      .container
        .s-heading  
          Фотозвіт
        .divider
      .nd-slides
        .slide-one
          .wrap
            %img(src="http://placehold.it/1428x1000?text=1")
            .slide-info
              .title GoCamp у середній загальноосвітній школі №2
              .date 21.01.2017
        .slide-one.video
          %a.wrap(href="//www.youtube.com/watch?v=XSGBVzeBUbk" data-lity="data-lity")
            %img(src="http://placehold.it/1428x1000?text=video")
            .slide-info
              .title GoCamp у середній загальноосвітній школі №2
              .date 10:54

        .slide-one.video
          

    %section.nd-support
      .container    
        .s-heading  
          Нас підтримують
        .divider
        .nd-sponsors
          %a.nd-sponsors-one(href="http://globaloffice.org.ua/uk/")
            .logo
              %img(src="images/go.png")
            .name global office
          %a.nd-sponsors-one(href="http://www.britishcouncil.org.ua/")
            .logo
              %img(src="images/bc.png")
            .name British council
          %a.nd-sponsors-one(href="http://mon.gov.ua/")
            .logo
              %img(src="images/moin.png")
            .name Міністерство освіти і науки україни
          %a.nd-sponsors-one(href="https://ukraine.usembassy.gov/")
            .logo
              %img(src="images/us.png")
            .name Посольство CША в&nbsp;Україні
          %a.nd-sponsors-one(href="http://zagoriy.foundation/")
            .logo
              %img(src="images/frz.png")
            .name Фонд родини загорій
          %a.nd-sponsors-one(href="http://www.president.gov.ua/ ")
            .logo
              %img(src="images/aotpou.png")
            .name Адміністрація президента України
          
          -# .nd-showmore-wrap
          -#   %a.nd-showmore(href="#")
          -#     %img(src="images/showmore.svg")
          -#     %span показати бiльше
          

          %a.nd-sponsors-one(href="http://mfa.gov.ua/ua")
            .logo
              %img(src="images/mofaou.png")
            .name Міністерство закордонних справ України
          %a.nd-sponsors-one(href="http://aiesec.ua/")
            .logo
              %img(src="images/aiesec.png")
            .name IAESEC
          %a.nd-sponsors-one(href="http://www.kyivstar.ua/kr-620/mm/")
            .logo
              %img(src="images/kyivstar.png")
            .name Київстар
          %a.nd-sponsors-one(href="http://www.irf.ua/")
            .logo
              %img(src="images/vidrodzh.png")
            .name Міжнародний фонд відродження
          %a.nd-sponsors-one(href="http://www.uz.gov.ua/ ")
            .logo
              %img(src="images/ukrzal.png")
            .name Укрзалізниця
          %a.nd-sponsors-one(href="https://www.unv.org/")
            .logo
              %img(src="images/unv.png")
            .name The united Nations volunteers

          %a.nd-sponsors-one.t7(href="http://media.1plus1.ua/")
            .logo
              %img(src="images/1p1.png")
            .name 1+1 Media
          %a.nd-sponsors-one.t7(href="http://lb.ua/ ")
            .logo
              %img(src="images/lb-ua.png")
            .name LB.ua
          %a.nd-sponsors-one.t7(href="http://www.segodnya.ua/")
            .logo
              %img(src="images/segodnya.png")
            .name Сегодня.UA
          %a.nd-sponsors-one.t7(href="http://nv.ua/ukr.html")
            .logo
              %img(src="images/novoevremia.png")
            .name Новое время
          %a.nd-sponsors-one.t7(href="http://www.pravda.com.ua/ ")
            .logo
              %img(src="images/ukrzal.png")
            .name Українська правда
          %a.nd-sponsors-one.t7(href="http://slm.ua/")
            .logo
              %img(src="images/slm.png")
            .name Starlightmedia
          %a.nd-sponsors-one.t7(href="http://hromadske.ua/")
            .logo
              %img(src="images/hromadske.png")
            .name Громадське радіо

    
    %footer.nd-footer
      .container.hidden-xs
        .nd-logo.hidden-xs.hidden-sm
          %a(href="#")
            %img(src="images/logo-footer.png")
          .nd-copy
            © 2016 GoGlobal
        .nd-adress
          Ярославський провулок 1/3, Київ, Україна
          %br/
          join@goglobal.com.ua
          %br/
          +380 (063) 122 50 33
          %br/
          %a.showmap(href="https://goo.gl/maps/hLKD8m3y3GN2" target="_blank")
            %img(src="images/pin.png")
            Показати на мапi
        .nd-footer-soc-donate
          .nd-footer-soc-wrap
            .nd-footer-soc
              %a.ig(href="#")
                %img(src="images/footer-ig.png")
              %a.fb(href="#")
                %img(src="images/footer-fb.png")
              %a.tw(href="#")
                %img(src="images/footer-tw.png")
          .nd-donate
            %a.btn.to-popup(data-popup="step1" href="#") пожертвувати
        .nd-logo.hidden-md
          %a(href="#")
            %img(src="images/logo-footer.png")
          .nd-copy.visible-sm
            © 2016 GoGlobal
        .nd-perfectionist
          %a(href="#") 
            %img(src="images/perfect-logo.png")
      .container.visible-xs
        .nd-donate
          %a.btn.to-popup(data-popup="step1" href="#") пожертвувати
        .nd-logo
          %a(href="#")
            %img(src="images/logo-footer.png")
        .nd-adress
          Ярославський провулок 1/3, Київ, Україна
          %br/
          join@goglobal.com.ua
          %br/
          +380 (063) 122 50 33
          %br/
          %a.showmap(href="https://goo.gl/maps/hLKD8m3y3GN2" target="_blank")
            %img(src="images/pin.png")
            Показати на мапi
        .nd-soc
          %a(href="#")
            %img(src="images/soc-ig.png")
          %a(href="#")
            %img(src="images/soc-fb.png")
          %a(href="#")
            %img(src="images/soc-tw.png")
        .nd-perfectionist
          %a(href="#") 
            %img(src="images/perf-mobile.png")
        .nd-copy.hidden-sm.hidden-md
          © 2016 GoGlobal

    .nd-popup-wrap
      .nd-popup#step1
        .close.js-closepop
        .step.nd-takepart
          .nd-takepart-form-wrap
            .heading Долучитись
            %p Щоб долучитись до благоднійного проекту, заповніть форму нижче
            %form
              .input-wrap
                %input(type="text" placeholder="Мене звати")
              .input-wrap
                %input(type="email" placeholder="Мій Email")
              -# .input-wrap.money
              -#   %input(type="text" placeholder="00.00")
              .input-wrap.chb
                %input.comp-check#comp2(type="checkbox")
                %label(for="comp2") Пожертва від лиця компанії
                %input(type="text" placeholder="Company name")
              .input-wrap.button
                %button.btn.to-popup(data-popup="step2") Продовжити
        .status
          .dot.is-active
          .dot
          .dot
          .dot
      .nd-popup#step2
        .close.js-closepop
        .step.nd-takepart
          .nd-takepart-form-wrap.card-wrap
            .heading Сума допомоги
            %p Виберіть тип платежу, чи може вас зацікавить помісячна допомога?
            %form
              .nd-type-select
                .labels-wrap
                  %input#student(type="radio" name="summ")
                  %label.st(for="student")
                    %img(src="images/student.svg")
                    %span Учень
                  %input#class(type="radio" name="summ" checked="checked")
                  %label.cl(for="class")
                    %img(src="images/class.svg")
                    %span Клас
                  %input#school(type="radio" name="summ")
                  %label.sc(for="school")
                    %img(src="images/school.svg")
                    %span Школа
              .input-wrap.changeable.can-change
                %input(type="text" VALUE="200 гривень")
                .change#js-change
                  Змінити
              .input-wrap.chb
                %input#repeat(type="checkbox")
                %label(for="repeat") Я бажаю жертувати кожен місяць

              .input-wrap.button
                %button.btn.to-popup(data-popup="step3") Пожертувати
        .status
          .dot
          .dot.is-active
          .dot
          .dot
      .nd-popup#step3
        .close.js-closepop
        .step.nd-takepart
          .nd-takepart-form-wrap.card-wrap
            .heading Долучитись
            %p Введіть номер вашої кредитної картки щоб виконати пожертву
            %form
              .input-wrap.card
                %input(type="text" placeholder="xxxx xxxx xxxx xxxx")
              .input-wrap.halfed
                .select-wrap
                  %select()
                    %option(selected="selected" disabled="disabled") MM
                    %option 01
                    %option 02
                    %option 03
                    %option 04
                .select-wrap
                  %select()
                    %option(selected="selected" disabled="disabled") РР
                    %option 01
                    %option 02
                    %option 03
                    %option 04
              .input-wrap.small
                %input(type="text" placeholder="CVC")
              .input-wrap.button
                %button.btn.to-popup(data-popup="step4") Пожертувати
        .status
          .dot
          .dot
          .dot.is-active
          .dot
      .nd-popup#step4
        .close.js-closepop
        .step.nd-takepart
          .nd-takepart-form-wrap
            .heading Дякуємо!
            %p Кошти будут залучені на допомогу проектуGoGlobal. Поділись цим у соцмережах!Поширюй благодійність!
            .nd-sharewrap
              .radio-wrap 
                %input(type="radio" name="share" id="simple")
                %label(for="simple") Я долучився до проекту GoGlobal
              .radio-wrap 
                %input(type="radio" name="share" id="number")
                %label(for="number") 
                  Я долучився до проекту GoGlobal та допоміг 
                  %strong 40 дітям 
                   реалізувати свої мрії
              .radio-wrap 
                %input(type="radio" name="share" id="money")
                %label(for="money") 
                  Я пожертував 
                  %strong 4000 грн. 
                   у&nbsp;GoGlobal та допоміг 
                  %strong 40 дітям 
                   реалізувати свої мрії 
            .sharebtns 
              %a.nd-btn-share.twitter(href="#")
                %img(src="images/tw.png")
                %span Twitter
              %a.nd-btn-share.fb(href="#")
                %img(src="images/fb.png")
                %span Facebook
              %a.nd-btn-share.vk(href="#")
                %img(src="images/vk.svg")
                %span Вконтакті
              %a.nd-btn-share.email(href="#")
                %img(src="images/email.png")
                %span Поштою


          

      
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    
     