body,html,img{max-width:100%}
.container,.nd-lang{box-sizing:border-box}
.nd-stats-one,.nd-why .why-one{vertical-align:top;text-align:center}
.btn,.nd-about .s-heading,.nd-cards-one,.nd-land .pre,.nd-land .s-heading,.nd-money .subhead,.nd-soc,.nd-stats-one,.nd-why .why-one,.nd-why .why-one .icon,.s-heading{text-align:center}
.btn:focus,.input-wrap input:not([type=checkbox]):not([type=radio]):focus,.input-wrap input[type=checkbox]:focus,.input-wrap.halfed select:focus,.nd-sharewrap .radio-wrap input:focus,button:focus{outline:0}
@font-face{font-family:Rotonda;src:url(../fonts/RotonBol.eot);src:url(../fonts/RotonBol.eot?#iefix) format("embedded-opentype"),url(../fonts/RotonBol.woff) format("woff"),url(../fonts/RotonBol.ttf) format("truetype"),url(../fonts/RotonBol.svg#d7a938c55ea618e8315a9d5e76cee584) format("svg");font-style:normal;font-weight:700}
@font-face{font-family:Rotonda;src:url(../fonts/RotonReg.eot);src:url(../fonts/RotonReg.eot?#iefix) format("embedded-opentype"),url(../fonts/RotonReg.woff) format("woff"),url(../fonts/RotonReg.ttf) format("truetype"),url(../fonts/RotonReg.svg#a1f399be9730f908dd861883df7befb3) format("svg");font-style:normal;font-weight:400}
.cf:after,.cf:before{content:" ";display:table}
.btn,.nd-soc a{display:inline-block}
.cf:after{clear:both}
a{color:inherit;text-decoration:none}
body{font-family:Rotonda,sans-serif;background-size:cover;background-attachment:fixed}
.container{padding:0 15px;margin:0 auto}
.nd-logo{width:191px;margin:32px auto}
.nd-soc a{width:55px;margin:0 2.5px}
.nd-soc img{border-radius:50%}
.nd-header .container.visible-xs{border-bottom:1px solid #e7ebef;margin-bottom:50px}
.nd-header .container.visible-xs .nd-logo{width:130px;float:left;margin:17px 0}
.nd-header .container.visible-xs .nd-soc{float:right;margin-top:23px}
.nd-header .container.visible-xs .nd-soc a{width:27.5px}
.btn{background:#e16b47;color:#fff;font-weight:700;font-size:16px;text-transform:uppercase;padding-top:18px;padding-bottom:14px;width:100%;border-radius:55px;margin-left:auto;margin-right:auto;letter-spacing:.1em}
.btn:hover{background:#dd5931}
.btn_bordered{background:0 0;border:3px solid #e16b47;color:#e16b47;padding-top:17px;padding-bottom:12px}
.btn_bordered:hover{background:#e16b47;color:#fff}
.btn_secondary{color:#c7cccd;background:0 0}
.btn_secondary:hover{background:0 0;color:#acb3b5}
.nd-donate{margin:65px 0 70px}
.nd-slider{margin-bottom:20px}
.nd-slider .slick-arrow{display:none}
.nd-slider-item{background:url(../images/slider-bg.png) center no-repeat;background-size:100%;position:relative}
.nd-slider-item:after{position:absolute;top:0;left:2.8%;right:4%;bottom:0;background:url(../images/slider-overlay.png) center no-repeat;z-index:10;content:"";display:block;background-size:100%}
.divider,.nd-about{background:#4eabb0}
.nd-slider-item img{max-width:91%;margin:9% auto 11%;border-radius:55%;position:relative;left:-.9%}
.divider{width:40px;height:5px;border-radius:5px;display:block;margin:40px auto 30px}
.nd-land{padding:0 5px 20px;overflow:hidden}
.nd-land .pre{font-size:15px;color:#3e4344}
.nd-land .s-heading{color:#4eabb0;margin-top:.37em;line-height:1.35}
.nd-land p{color:#757b7c;font-size:16px;line-height:1.5}
.nd-land .btn_secondary{margin-top:5px}
.nd-about{padding-top:35px;color:#fff}
.nd-about .s-heading{color:#fff}
.nd-year-switch{padding:5px 10px;display:inline-block;background:#3b9ba1;border-radius:50px;position:relative;margin:30px 0 40px}
.nd-year-switch-wrap{text-align:center}
.nd-year-switch .nd-year{display:inline-block;font-weight:700;font-size:20px;padding:10px 10px 6px;position:relative;z-index:4}
.nd-year-switch .nd-year:not(.is-active){cursor:pointer}
.nd-year-switch .status{width:49%;height:calc(100% - 10px);background:#ead073;position:absolute;border-radius:48px;left:5px;top:5px;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s}
.nd-year-switch.second .status{-webkit-transform:translateX(90%);-ms-transform:translateX(90%);transform:translateX(90%)}
.nd-stats{font-size:0;margin-bottom:55px}
.nd-stats-one{font-size:14px;line-height:1.35;width:50%;display:inline-block;margin-top:45px}
.nd-stats-one img{height:65px;margin:0 auto 25px;display:block}
.nd-stats-one .nd-counter{font-weight:700;font-size:38px;color:#ead073;margin-bottom:14px;line-height:1}
.nd-stats-one .name{max-width:280px;margin-left:auto;margin-right:auto}
.nd-stats-one:last-child{width:100%}
.nd-mobile-map{margin:20px -62px!important}
.nd-map{padding-bottom:35px}
.nd-map-info{background:#fff;padding:30px 30px 30px 25px;border-radius:12px;line-height:1.5}
.nd-map-info p{color:#757b7c}
.nd-map-info p:last-child{margin-bottom:0}
.nd-map-info .heading{color:#4eabb0;font-size:22px;font-weight:700;position:relative}
.nd-map-info .heading:before{content:"";height:calc(100% + 8px);width:4px;position:absolute;left:-27px;background:#ead073;border-radius:4px}
.input-wrap.changeable,.nd-cards-one{position:relative}
.s-heading{font-size:40px;font-weight:700}
.s-heading_small{font-size:36px}
.nd-why{background-color:#496295;color:#fff;padding-bottom:400px;background-image:url(../images/why-bg.png);background-position:center 102%;background-repeat:no-repeat;background-size:1400px}
.nd-why .why-wrap{font-size:0}
.nd-why .why-one{width:50%;display:inline-block;font-size:14px;line-height:1.5;padding:0 25px;margin-top:30px}
.nd-why .why-one img{height:35px}
.nd-why .divider{background:#fff}
.nd-money{padding-top:60px}
.nd-money .s-heading{color:#4eabb0}
.nd-money .subhead{font-size:20px;line-height:1.3;margin:40px 0 80px;color:#757b7c}
.nd-cards-wrap{padding-bottom:50px}
.nd-cards-one{margin-top:25px;max-width:290px;margin-left:auto;margin-right:auto;border-radius:12px}
.card-info{color:#fff;padding:30px;text-align:left;height:240px;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.card-info .numb{font-size:36px;font-weight:700;text-align:left}
.card-info .what{font-size:18px;line-height:25px;margin:0 auto}
.card_blue{background-color:#72a9ae}
.card_green{background-color:#9fc648}
.card_orange{background-color:#dfc464}
.card_red{background-color:#c76b4a}
.card-desktop{display:none}
.nd-takepart{background-color:#4eabb0}
.nd-takepart .bg{background:#fff;padding:45px 17px 62px;text-align:center;border-radius:30px;margin:60px auto;max-width:500px}
.nd-takepart .heading{color:#4eabb0;font-size:32px;font-weight:700}
.nd-takepart p{color:#757b7c;font-size:18px;font-weight:400;line-height:1.44}
.nd-takepart form{margin-top:40px}
.input-wrap{margin-top:20px}
.input-wrap input:not([type=checkbox]):not([type=radio]){width:100%;background-color:#f6f8fa;height:65px;border:0;box-shadow:inset 0 1px 0 2px #e2e5e9;border-radius:65px;font-size:24px;text-align:center;padding-top:8px}
.input-wrap ::-webkit-input-placeholder{color:#d1d4d8}
.input-wrap ::-moz-placeholder{color:#d1d4d8}
.input-wrap :-ms-input-placeholder{color:#d1d4d8}
.input-wrap :-moz-placeholder{color:#d1d4d8}
.input-wrap.changeable input{color:#757b7c;pointer-events:none}
.input-wrap.changeable.can-change input{pointer-events:auto}
.input-wrap.changeable .change{position:absolute;top:28px;right:28px;color:#e16b47;cursor:pointer}
.input-wrap.changeable .change:hover{color:#dd5931}
.input-wrap.money{position:relative}
.input-wrap.money input{background-image:url(../images/uah.svg);background-size:18px;background-repeat:no-repeat;background-position:10% center}
.input-wrap.button{margin-top:25px}
.input-wrap button{border:none;height:65px;font-size:20px;letter-spacing:.1em}
.input-wrap.halfed{background-color:#f6f8fa;height:50px;border:0;box-shadow:inset 0 1px 0 2px #e2e5e9;border-radius:50px;position:relative}
.input-wrap.halfed:after{position:absolute;width:2px;height:33px;left:50%;margin-left:-2px;top:9px;content:" ";background:#e2e5e9}
.input-wrap.halfed .select-wrap{width:50%;float:left}
.input-wrap.halfed .select-wrap:after{width:0;height:0;border-style:solid;border-width:7px 5px 0;border-color:#d0d4d8 transparent transparent;content:"";top:-3px;position:relative;left:-10px;display:inline-block;pointer-events:none}
.input-wrap.halfed .select-wrap:first-child select{margin-left:35px}
.input-wrap.halfed select{-webkit-appearance:none;border:none;box-shadow:none;height:50px;background:0 0;font-size:22px;color:#d1d4d8;line-height:50px;padding-top:3px;text-align:left;width:80px}
.input-wrap.small{width:100%}
.input-wrap.small input{text-align:left;padding-left:40px;padding-right:40px}
.input-wrap input[type=checkbox]{-webkit-appearance:none;width:30px;height:30px;background-color:#f6f8fa;border-radius:7px;box-shadow:inset 0 1px 0 2px #e2e5e9;position:relative;display:inline-block;vertical-align:middle;margin-top:-5px}
.input-wrap input[type=checkbox]~input{display:none}
.input-wrap input[type=checkbox]:checked~input{display:block;margin-top:25px}
.input-wrap input[type=checkbox]:checked:after{position:absolute;width:20px;height:20px;border-radius:3px;top:6px;left:5px;content:"";background-color:#e16b47;box-shadow:inset 2px 0 0 #b55c3c,inset -2px 0 0 #b55c3c,inset 0 2px 0 #b55c3c,inset 0 -1px 0 #b55c3c}
.input-wrap input[type=checkbox]+label{color:#757b7c;font-size:18px;line-height:26px;display:inline-block;vertical-align:middle;margin-left:20px}
.input-wrap.chb{text-align:left;padding-top:15px}
.card-wrap form{margin-top:30px}
.card-wrap .halfed,.card-wrap input{height:50px;border-radius:50px}
.card-wrap input{padding-top:5px}
.card-wrap .btn{height:50px;margin-top:15px}
.nd-sharewrap{background:#f6f8fa;border-radius:32px;padding:5px 15px;max-width:240px;margin:0 auto}
.nd-sharewrap label{color:#414546;font-size:14px;line-height:1.3}
.nd-sharewrap .radio-wrap{margin:15px 0;overflow:hidden;text-align:left}
.nd-copy,.nd-perfectionist,.nd-popup,.nd-sponsors-one .name{text-align:center}
.nd-sharewrap .radio-wrap label{overflow:hidden;display:block;padding-top:8px}
.nd-sharewrap .radio-wrap input{float:left;clear:left;-webkit-appearance:none;width:30px;height:30px;background:#fff;box-shadow:inset 0 1px 0 2px #e2e5e9;border-radius:50%;margin-right:16px}
.nd-sharewrap .radio-wrap input:checked{position:relative}
.nd-sharewrap .radio-wrap input:checked:after{width:20px;height:20px;background:#91b925;content:"";position:absolute;top:6px;left:5px;bottom:4px;border-radius:50%}
.sharebtns{margin-top:20px}
.sharebtns .nd-btn-share{display:block;height:55px;border-radius:55px;line-height:57px;position:relative;margin:10px 0}
.sharebtns .nd-btn-share img{position:absolute;left:24px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.nd-slides .slide-one .wrap,.nd-slides .slide-one.video{position:relative}
.sharebtns .nd-btn-share.twitter{background:#1da1f2}
.sharebtns .nd-btn-share.twitter img{width:25px}
.sharebtns .nd-btn-share.fb{background:#3d5c98}
.sharebtns .nd-btn-share.fb img{width:13px;margin-left:9px}
.sharebtns .nd-btn-share.vk{background:#4d75a3}
.sharebtns .nd-btn-share.vk img{width:24px}
.sharebtns .nd-btn-share.email{background:#72a9ae}
.sharebtns .nd-btn-share.email img{width:25px}
.sharebtns .nd-btn-share span{font-size:18px;color:#fff}
.nd-photos{padding-top:50px;padding-bottom:50px;overflow-x:hidden}
.nd-photos .divider,.nd-photos .s-heading{color:#4eabb0}
.nd-slides{white-space:nowrap;overflow-x:scroll;margin-left:-15px;margin-right:-15px;-webkit-overflow-scrolling:touch;margin-top:50px}
.nd-slides .slide-one{display:inline-block;vertical-align:top;padding:0 10px;margin-left:15px}
.nd-slides .slide-one img{width:300px;border-radius:10px;display:block}
.nd-slides .slide-one:first-child{margin-left:30px}
.nd-slides .slide-one:last-child{margin-right:30px}
.nd-slides .slide-one.video .slide-info{position:absolute;margin-top:0;border-radius:10px;top:0;bottom:0;right:0;left:0;background-color:rgba(0,0,0,.4);background-image:url(../images/play.png);background-position:center;background-repeat:no-repeat;background-size:54px;padding:5px 10px}
.nd-slides .slide-one.video .slide-info .title{font-weight:700}
.nd-slides .slide-one.video .slide-info .date{font-weight:400;margin-top:7px}
.nd-slides .slide-one.video .slide-info .date,.nd-slides .slide-one.video .slide-info .title{color:#fff}
.nd-slides .slide-info .title{font-size:12px;color:#414546;margin-top:12px}
.nd-slides .slide-info .date{color:rgba(65,69,70,.7);font-size:10px;font-weight:700;margin-top:12px}
.nd-support{padding-top:25px;margin-top:10px;border-top:1px solid #e7ebef}
.nd-support .s-heading{color:#4eabb0}
.nd-support .divider{margin-top:25px}
.nd-sponsors{font-size:0;padding-bottom:40px}
.nd-sponsors-one{width:50%;display:inline-block;vertical-align:top;font-size:10px;margin-top:25px}
.nd-sponsors-one .logo{height:70px;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.nd-sponsors-one .logo img{max-height:100%;max-width:100px}
.nd-sponsors-one .name{font-size:10px;font-weight:700;line-height:16px;text-transform:uppercase;color:#c7cccd;max-width:120px;margin:10px auto 0}
.nd-sponsors .nd-showmore{margin:40px 0 0;display:block}
.nd-sponsors .nd-showmore-wrap{display:block;text-align:center}
.nd-sponsors .nd-showmore-wrap img{width:42px}
.nd-sponsors .nd-showmore-wrap span{font-size:10px;display:block;text-transform:uppercase;font-weight:700;color:#4eabb0;margin-top:17px}
.nd-footer{background:#4eabb0;color:#fff}
.nd-footer .nd-adress{font-size:14px;line-height:2}
.nd-footer .showmap{margin-top:30px;display:inline-block}
.nd-footer .showmap img{width:9px;margin-right:12px;vertical-align:middle;margin-top:-4px;display:inline-block}
.nd-footer .showmap:hover{opacity:.8}
.nd-footer .nd-footer-soc-wrap{-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;display:-webkit-flex;display:-ms-flexbox;display:flex;margin:40px 0}
.nd-footer .nd-footer-soc a{background:#fff;width:55px;height:55px;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;border-radius:50%;vertical-align:middle;margin:0 3px}
.nd-footer .nd-footer-soc a img{display:block}
.nd-footer .nd-footer-soc a.ig img{width:30px}
.nd-footer .nd-footer-soc a.fb img{width:13px;margin-right:-7px}
.nd-footer .nd-footer-soc a.tw img{width:24px;margin-bottom:-2px}
.nd-footer .nd-footer-soc a:hover{background:rgba(255,255,255,.8)}
.nd-perfectionist img{width:145px}
.nd-copy{border-top:1px solid #8ecdd7;color:#c6edf3;font-size:12px;padding:14px 0 12px;margin-top:32px}
.nd-about{position:relative;margin-top:10vw}
.nd-about:after,.nd-about:before{display:block;width:100%;height:9.5vw;position:absolute;content:""}
.nd-about:before{background:url(../images/about-before.svg);top:-9.43vw;background-size:102%;background-position-x:center}
.nd-about:after{background:url(../images/about-after.svg);bottom:-9.43vw;background-size:102%;background-position-x:center;z-index:9}
.nd-takepart{position:relative;margin-top:3.4vw}
.nd-takepart:after,.nd-takepart:before{position:absolute;display:block;width:100%;content:""}
.nd-takepart:before{background:url(../images/pay-before.svg);height:4vw;top:-4vw;background-size:103%;background-position-x:center}
.nd-takepart:after{background:url(../images/pay-after.svg);height:1vw;bottom:-1vw;background-size:140%;background-position-x:center}
.nd-why{position:relative;padding-top:90px}
.nd-why:after{display:block;background:url(../images/why-after.svg);width:100%;height:3.4vw;position:absolute;bottom:0;background-size:110%;background-position-x:center;content:""}
.nd-footer{position:relative;padding-top:0;margin-top:5.8vw}
.nd-footer:before{display:block;background:url(../images/footer-before.svg);width:100%;height:5.8vw;position:absolute;top:-5.8vw;background-size:110%;background-position-x:center;content:""}
.nd-pins-wrap.hidden-xs{position:relative}
.nd-pins-wrap.hidden-xs .left,.nd-pins-wrap.hidden-xs .right{position:absolute;top:0;bottom:0;z-index:9}
.nd-pins-wrap.hidden-xs .left{left:0;right:50%}
.nd-pins-wrap.hidden-xs .right{right:0;left:50%}
.map .pin{opacity:0}
.map.visible .pin{-webkit-transform:none;-ms-transform:none;transform:none;animation-name:hatch;-webkit-animation-name:hatch;animation-duration:2s;-webkit-animation-duration:2s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;transform-origin:50% 100%;-ms-transform-origin:50% 100%;-webkit-transform-origin:50% 100%;visibility:visible!important;opacity:0;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.map #pin1{-webkit-animation-delay:350ms;animation-delay:350ms}
.map #pin2{-webkit-animation-delay:430ms;animation-delay:430ms}
.map #pin3{-webkit-animation-delay:420ms;animation-delay:420ms}
.map #pin4{-webkit-animation-delay:.4s;animation-delay:.4s}
.map #pin5{-webkit-animation-delay:330ms;animation-delay:330ms}
.map #pin6{-webkit-animation-delay:440ms;animation-delay:440ms}
.map #pin7{-webkit-animation-delay:460ms;animation-delay:460ms}
@-webkit-keyframes hatch{0%{opacity:0;-webkit-transform:translateY(-30px) rotate(0) scaleY(1);transform:translateY(-30px) rotate(0) scaleY(1)}
20%{opacity:1;-webkit-transform:rotate(-2deg) scaleY(1.01);transform:rotate(-2deg) scaleY(1.01)}
35%{-webkit-transform:rotate(2deg) scaleY(1);transform:rotate(2deg) scaleY(1)}
50%{-webkit-transform:rotate(-2deg);transform:rotate(-2deg)}
65%{-webkit-transform:rotate(1deg);transform:rotate(1deg)}
80%{-webkit-transform:rotate(-1deg);transform:rotate(-1deg)}
100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}
}
@keyframes hatch{0%{opacity:0;-webkit-transform:translateY(-30px) rotate(0) scaleY(1);transform:translateY(-30px) rotate(0) scaleY(1)}
20%{opacity:1;-webkit-transform:rotate(-2deg) scaleY(1.01);transform:rotate(-2deg) scaleY(1.01)}
35%{-webkit-transform:rotate(2deg) scaleY(1);transform:rotate(2deg) scaleY(1)}
50%{-webkit-transform:rotate(-2deg);transform:rotate(-2deg)}
65%{-webkit-transform:rotate(1deg);transform:rotate(1deg)}
80%{-webkit-transform:rotate(-1deg);transform:rotate(-1deg)}
100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}
}
.ovh{overflow:hidden}
.nd-popup{background:#fff;padding:30px 16px;position:relative;display:none;min-height:100%}
.nd-popup-wrap{background:rgba(0,0,0,.4);position:fixed;top:0;bottom:0;left:0;right:0;z-index:9999;overflow:auto;display:none}
.nd-popup-wrap.active{display:block}
.nd-popup .status{margin-top:40px}
.nd-popup .status .dot{width:12px;height:12px;background-color:#e2e5e9;display:inline-block;border-radius:50%;margin:0 2px}
.nd-popup .status .dot.is-active{background:#e16b47}
.nd-popup .close{width:22.5px;height:22.5px;position:absolute;top:15px;right:15px;background:url(../images/close.png);background-size:22.5px;z-index:9;cursor:pointer}
.nd-about .container{overflow:hidden}
.nd-type-select input[type=radio]{display:none}
.nd-type-select input[type=radio]:checked+label{background-color:#e16b47;box-shadow:inset 2px 0 0 #C06341,inset -2px 0 0 #C06341,inset 0 2px 0 #C06341,inset 0 -1px 0 #b55c3c}
.nd-type-select input[type=radio]:checked+label span{color:#fff}
.nd-type-select input[type=radio]:checked+label img{-webkit-filter:brightness(300%);filter:brightness(300%)}
.nd-type-select .labels-wrap{width:100%;overflow:hidden;background-color:#f6f8fa;border-radius:32px;box-shadow:inset 0 1px 0 2px #e2e5e9}
.nd-type-select .labels-wrap img{display:block;margin-left:auto;margin-right:auto}
.nd-type-select .labels-wrap label{width:33.33333%;float:left;padding-top:20px;padding-bottom:25px;height:110px;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.nd-type-select .labels-wrap label span{font-size:15px;color:#757b7c}
.nd-type-select .labels-wrap .st img{width:21px}
.nd-type-select .labels-wrap .cl img{width:34px}
.nd-type-select .labels-wrap .sc img{width:48px}
.chb+.button{margin-top:10px}
@media screen and (min-width:550px){.nd-popup{width:100%;max-width:505px;min-height:0;padding:15px 15px 30px;border-radius:30px;box-shadow:0 15px 100px 0 rgba(0,0,0,.25)}
.nd-popup-wrap.active{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.nd-popup .close{top:20px;right:20px}
.card-wrap .halfed{width:60%;float:left}
.input-wrap.small{width:40%;float:left;padding-left:15px}
.input-wrap.small input{padding-left:20px;padding-right:20px;text-align:center}
.input-wrap.halfed .select-wrap:first-child select{margin-left:10px}
.input-wrap.halfed select{width:60px}
.nd-popup .nd-takepart-form-wrap{max-width:400px}
.sharebtns{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.sharebtns .nd-btn-share{width:49%;float:left;text-align:left;padding-left:55px;margin:5px 0}
.sharebtns .nd-btn-share img{left:20px}
.nd-sharewrap{max-width:none}
.card-wrap .btn{height:65px;margin-top:20px}
}
@media screen and (min-width:768px){.nd-header .container,.nd-stats{display:-webkit-flex;display:-ms-flexbox}
#mi1,#mi2{position:relative;z-index:2}
.nd-land .pre,.nd-land-content,.nd-why .why-one,.nd-why .why-one .icon{text-align:left}
.nd-about .container{overflow:visible}
.nd-type-select .labels-wrap label span{font-size:24px}
.nd-type-select .labels-wrap label{height:135px;padding-top:30px}
.nd-type-select .labels-wrap .st img{width:30px}
.nd-type-select .labels-wrap .cl img{width:48px}
.nd-type-select .labels-wrap .sc img{width:70px}
.container{padding:0 50px}
.nd-header{padding-top:30px}
.nd-header .container{display:flex;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}
.nd-header .container:after,.nd-header .container:before{display:none}
.nd-header .nd-logo{margin:0;float:left}
.nd-header .nd-soc-donate{float:left}
.nd-header .nd-soc{margin-top:15px}
.nd-header .nd-soc a{width:25px}
.nd-header .nd-donate{margin:0}
.nd-header .nd-donate .btn{width:191px;height:55px;border-radius:27px;padding-top:21px}
.nd-land{margin-top:100px;padding-left:0;padding-right:0;margin-bottom:110px}
.nd-land .nd-slider{float:right;width:450px;margin-top:-20px;margin-right:-180px}
.nd-land-content{overflow:hidden}
.nd-land .s-heading{text-align:left;margin-right:-10px}
.nd-land .divider{margin:30px 0 60px}
.nd-land p{width:288px}
.nd-land .btn{width:165px;display:inline-block}
.nd-land .btn_secondary{width:150px}
.nd-about .s-heading{float:left;margin-top:52px}
.nd-year-switch-wrap{width:360px;overflow:hidden;margin-right:0;margin-left:auto}
.nd-year-switch{width:100%}
.nd-year-switch .nd-year{font-size:40px;padding:25px 40px 16px}
.nd-map-info p,.nd-slides .slide-info .title{font-size:14px}
.nd-year-switch .status{height:calc(100% - 20px);left:10px;top:10px}
.nd-year-switch.second .status{-webkit-transform:translateX(93%);-ms-transform:translateX(93%);transform:translateX(93%)}
.nd-stats{display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background:#3b9ba1;border-radius:18px;padding:20px 60px 75px}
.nd-stats-one{width:33.333%;margin-top:80px}
.nd-stats-one .name{max-width:125px;margin-left:auto;margin-right:auto}
.nd-stats-one:last-child{width:40.333%}
.nd-stats-one:last-child .name{max-width:250px}
#mi1{max-width:350px;margin-bottom:-140px}
.nd-map-info{padding:32px 42px 42px 35px}
.nd-map-info .heading{max-width:250px}
.nd-map-info .heading:before{left:-37px}
#mi2{max-width:350px;margin:-150px 0 0 auto}
.nd-why .s-heading{max-width:450px;margin-left:auto;margin-right:auto}
.nd-why .divider{margin:30px auto}
.nd-why .why-wrap{margin-top:-30px}
.nd-why .why-one p{max-width:190px;margin-top:9px}
.nd-money .s-heading{max-width:500px;margin-left:auto;margin-right:auto}
.nd-money .subhead{margin-bottom:40px;margin-top:30px}
.nd-cards-wrap{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}
.nd-cards-one{margin-top:30px;margin-left:0;margin-right:0}
.nd-takepart{background-color:#4eabb0;background-image:url(../images/pay-tablet-bg.png);background-size:100%;background-repeat:no-repeat;background-position:center}
.nd-takepart-form-wrap{max-width:400px;margin-left:auto;margin-right:auto}
.nd-takepart-form-wrap input:not([type=checkbox]):not([type=radio]){text-align:left!important;padding-left:35px;padding-right:35px}
.nd-photos .s-heading{text-align:left}
.nd-photos .divider{margin-left:0}
.nd-slides .slide-one:first-child{margin-left:50px}
.nd-slides .slide-one{width:400px}
.divider{margin-bottom:25px;margin-top:45px}
.nd-slides .slide-info{margin-top:23px}
.nd-slides .slide-info .date{font-size:10px}
.nd-photos{padding-bottom:40px}
.nd-support{padding-top:140px}
.nd-support .divider{margin-top:45px}
.nd-sponsors{margin-top:-10px}
.nd-sponsors-one{width:33.333%;margin-top:80px}
.nd-sponsors-one .name{margin-top:20px;font-size:12px;max-width:150px}
.nd-sponsors-one .logo{height:90px}
.nd-sponsors-one .logo img{max-width:120px}
.nd-sponsors .nd-showmore{margin-top:90px}
.nd-footer .nd-adress{float:left;overflow:hidden}
.nd-footer .nd-footer-soc-donate{float:right}
.nd-footer .nd-logo{float:left;clear:left;margin-top:60px}
.nd-footer .nd-footer-soc-wrap{margin-top:0}
.nd-footer .nd-donate{margin:70px 0}
.nd-footer .nd-donate .btn{width:191px;height:55px;border-radius:27px;padding-top:21px}
.nd-footer .nd-copy{margin-top:20px;text-align:left}
.nd-footer .nd-perfectionist{clear:right;float:right;margin-top:14px}
.nd-slides{overflow:auto;margin-left:0;margin-right:0;padding-left:0!important}
.nd-slides .slide-one{margin:0 0 0 -2px}
.nd-slides .slide-one:focus{outline:0}
.nd-slides .slide-one img{width:400px}
.nd-slides .wrap{display:inline-block}
.nd-slides .slick-cloned{opacity:0;pointer-events:none}
.nd-cards-wrap{margin-top:-30px}
.comment-arrow.visible-xs{margin-left:120px!important}
}
@media screen and (min-width:1320px){#mi1,#mi2{transition:-webkit-transform .3s ease}
#pin5,#pin7{top:192.5px}
.container{padding:0 15px}
.nd-about .container,.nd-footer .container,.nd-photos .container,.nd-why .container{max-width:1165px}
.nd-slides .slide-one img{width:700px}
.nd-header .menu{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding-bottom:5px;margin-left:-80px;letter-spacing:.07em}
.nd-header .nd-soc{margin-right:-80px;margin-top:0}
.nd-header .nd-soc a{width:55px}
.nd-header .nd-donate .btn{width:184px;letter-spacing:.1em}
.menu-one{display:inline-block;margin:0 22px}
.menu-one a{text-transform:uppercase;color:#4eabb0;font-size:14px;font-weight:700}
.nd-land .pre,.nd-land p{font-size:18px}
.nd-land{margin-top:40px}
.nd-land .nd-slider{width:655px;margin-top:0;margin-right:-15px}
.nd-land p{width:400px;margin-bottom:60px}
.nd-land .divider{margin:55px 0 35px}
.nd-land .btn_secondary{width:165px}
.nd-land-content{margin-top:115px;max-width:435px;margin-left:50px}
.s-heading{font-size:48px}
.nd-year-switch{margin-top:23px;margin-bottom:53px}
.nd-year-switch .nd-year{font-size:48px;padding:24px 33px 15px}
.nd-stats{height:340px;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding-top:20px;padding-bottom:20px}
.nd-stats-one{width:18.75%;margin-top:0}
.nd-stats-one .name{font-size:18px;max-width:128px}
.nd-stats-one img{height:80px;margin-bottom:34px}
.nd-stats-one .nd-counter{font-size:48px}
.nd-stats-one:last-child{width:25%}
.nd-stats-one:last-child .name{font-size:14px}
.nd-pins-wrap .map{max-width:900px;margin:0 auto}
.nd-pins-wrap .map img{display:block}
#mi1{margin-bottom:-405px;transition:transform .3s ease;transition:transform .3s ease,-webkit-transform .3s ease}
#mi2{margin-top:-355px;transition:transform .3s ease;transition:transform .3s ease,-webkit-transform .3s ease}
.nd-map{margin-top:100px}
.nd-map-info{padding-right:36px}
.nd-map-info .heading{font-size:24px}
.nd-map-info p{font-size:16px}
.map{position:relative}
.map .pin{width:19px;height:28px;background:url(../images/pin.svg);background-size:cover;position:absolute}
#pin1{top:232.5px;left:245px}
#pin2{top:401px;left:288.5px}
#pin3{top:239px;left:420.5px}
#pin4{top:311px;left:480.5px}
#pin5{left:546.5px}
#pin6{top:310px;left:606.5px}
#pin7{left:454.5px}
#pin-main{top:216px;left:492.5px;width:28px;height:40px;background-image:url(../images/pin-yellow.png)}
.nd-why{padding-top:195px;background-size:cover;background-image:url(../images/why-bg.jpg.jpg);padding-bottom:480px}
.nd-why .divider{display:none}
.nd-why .s-heading{float:left;text-align:left;max-width:285px;line-height:1.33}
.nd-why .s-heading:after{content:"";width:40px;height:5px;border-radius:5px;display:block;margin:25px 0 0;background:#fff}
.nd-why .why-wrap{float:left;width:560px;margin-left:190px;margin-top:-30px}
.nd-why .why-one{font-size:16px;padding-left:0}
.nd-why .why-one p{max-width:220px}
.nd-money{padding-top:130px;overflow:hidden}
.nd-money .container{position:relative}
.nd-money .s-heading{font-size:36px;line-height:42px;max-width:540px}
.nd-money .subhead{margin-top:20px}
.comment-arrow{position:absolute;bottom:232px;left:70px}
.comment-arrow img{width:245px}
.nd-cards-wrap{margin-bottom:120px;margin-top:50px}
.nd-cards-one{width:295px;max-width:none;cursor:default}
.nd-cards-one .card-info{padding-right:72px;height:270px}
.nd-cards-one:last-child .card-info{padding-right:30px}
.card-info .what{margin-top:10px}
.nd-takepart{background-size:1157px}
.nd-takepart .bg{margin-bottom:80px}
.nd-slides{padding-left:50%}
.nd-slides .slide-one{width:710px}
.nd-slides .slide-one:first-child{margin-left:-570px}
.nd-slides .slide-one.video .slide-info{padding:10px 25px}
.nd-slides .slide-info .title{font-size:16px}
.nd-slides .slide-info .date{font-size:12px}
.nd-photos{padding-bottom:80px}
.nd-support{padding-top:100px}
.nd-sponsors{width:90%;margin:0 auto}
.nd-sponsors-one{width:16.66667%}
.nd-sponsors-one.t7{width:14.28571%}
.nd-sponsors-one:hover{opacity:.7}
.nd-footer .nd-logo{margin-top:0}
.nd-footer .nd-adress{margin-left:125px;margin-top:9px;font-size:16px}
.nd-footer .nd-adress .showmap{font-size:14px}
.nd-footer .nd-footer-soc-wrap{display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;margin-bottom:0}
.nd-footer .nd-donate{display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;margin-top:0;margin-bottom:0;margin-left:25px}
.nd-footer .nd-perfectionist{margin-top:30px}
.nd-footer .nd-copy{margin-top:43px;font-size:14px}
.nd-footer .showmap{margin-top:13px}
#mi1.moved{-webkit-transform:translateX(-100px) translateY(100px);-ms-transform:translateX(-100px) translateY(100px);transform:translateX(-100px) translateY(100px)}
#mi2.moved{-webkit-transform:translateX(100px) translateY(-100px);-ms-transform:translateX(100px) translateY(-100px);transform:translateX(100px) translateY(-100px)}
}
.nd-lang,.nd-showmore{text-align:center}
.step.nd-takepart{background:0 0}
.step.nd-takepart:after,.step.nd-takepart:before{display:none}
.step.nd-takepart .heading{color:#4e5252}
.nd-footer .container.visible-xs .nd-donate{margin-bottom:20px;margin-top:20px}
.nd-footer .container.visible-xs .nd-donate .btn{padding-top:23px;padding-bottom:19px}
.nd-footer .container.visible-xs .nd-adress{text-align:center;border-top:1px solid #8ecdd7;margin-left:-15px;margin-right:-15px;padding-left:15px;padding-right:15px;padding-top:25px}
.nd-footer .container.visible-xs .showmap{margin-top:20px;margin-bottom:20px}
.nd-footer .container.visible-xs .nd-soc a{width:27.5px}
.nd-footer .container.visible-xs .nd-copy{margin-top:20px;margin-left:-15px;margin-right:-15px}
.nd-footer .container.visible-xs .nd-perfectionist{padding-top:20px;border-top:1px solid #8ecdd7;margin-left:-15px;margin-right:-15px;margin-top:20px}
.comment-arrow.visible-xs{width:82px;margin:-20px auto 20px;display:block}
.nd-showmore-wrap~.nd-sponsors-one{display:none}
.nd-lang,.nd-lang-wrap{display:inline-block}
.nd-sponsors{margin-bottom:40px}
input.error{border:1px solid red!important}
.nd-lang{background-color:#72a9ae;width:55px;height:55px;line-height:55px;border-radius:55px;font-size:14px;color:#fff;letter-spacing:.1em;font-weight:700;padding-top:2px;margin-left:20px}
.nd-lang:hover{background:#3b9ba1}
.nd-soc .nd-lang{height:27.5px;line-height:27.5px;vertical-align:top;font-size:10px}