@font-face {
  font-family: 'Rotonda Bold';
  src: url('RotonBol.eot'); /* IE9 Compat Modes */
  src: url('RotonBol.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('RotonBol.woff') format('woff'), /* Modern Browsers */
       url('RotonBol.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('RotonBol.svg#d7a938c55ea618e8315a9d5e76cee584') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Rotonda';
  src: url('RotonReg.eot'); /* IE9 Compat Modes */
  src: url('RotonReg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('RotonReg.woff') format('woff'), /* Modern Browsers */
       url('RotonReg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('RotonReg.svg#a1f399be9730f908dd861883df7befb3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

